.container-fluid {
    background-color: #ffffff;
}

section {
    padding-top:40px;
    padding-bottom: 40px;
    font-family: 'Josefin Sans', sans-serif;
}
.nav {
    margin-top:4px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

.nav .btn {
    padding:5px;
    font-size: 20px;
    border: 2px solid blue;
    color: blue;
}



.banner {
    background-color: #014bed;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 100px;
    padding-bottom: 100px;

}

.sx_banner {
    margin-top: 50px;

    color: white;
}

.sx_banner h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.sx_banner p {
    font-size: 20px;

}
#ctr_section {
    background-color: lightgrey;
}

#ctr_section h3 {
    font-size: 15px;
}

#bt_banner{
    padding-top: 40px;
    padding-bottom: 40px;
}


.dx_banner {
    margin-top:20px;
}

.jumbotron p {
    color:blue;
    text-align: center;
}

#thr_colums {
    padding-top:40px;
}

.aside li{
    font-size: 20px;
    list-style:none;
    border-left-style: solid;
    padding: 10px;
}

.brd h4 {
    font-size: 20px;
}

.brd h5 {
    font-size: 15px;

}

#quar_section {
    background-color: lightblue;
}

.core img {
    padding-top: 60px;
    padding-bottom: 30px;
}

#six_section {
    background-color: darkblue;
    color: white;
}

.panel {
    color: white;
    background-color: darkblue;
}
.ter span {
    border-bottom: 1px solid white;
}

span{
    border-bottom: 2px solid white;
}

span:nth-child(2) {
    padding-left:50px;
}

span:nth-child(6) {
    padding-left:50px;
}

span:nth-child(10) {
    padding-left:50px;
}

span:nth-child(14) {
    padding-left:50px;
}

span:nth-child(18) {
    padding-left:50px;
}

span:nth-child(22) {
    padding-left:50px;
}

span:nth-child(26) {
    padding-left:50px;
}




span:nth-child(3) {
    padding-left: 200px;
}

span:nth-child(7) {
    padding-left:200px;
}

span:nth-child(11) {
    padding-left:200px;
}

span:nth-child(15) {
    padding-left:200px;
}

span:nth-child(19) {
    padding-left:200px;
}

span:nth-child(23) {
    padding-left:200px;
}

#eight_section {
    background-color: darkblue;
    color: white;
}
